@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
* {
    overflow-x: hidden;    
    margin: 0;
}

body {
    background-color: rgb(37, 38, 39);
}

section {
    z-index: -10;
    color: rgb(236, 226, 208);
    overflow-y: hidden;
    margin: 20px 0 10px 0;

    /* Temp */
   /* border: 2px solid beige;*/
}

#rule_head{
    position: relative;
    width: 100vw;
    margin: 0;
    padding-left: 5vw;
    font-family: 'Contrail One', cursive;
    font-weight: 500;
    font-size: 30px;
}

#R {
    font-size: 8em;
}

#rulreg {
    height: 7em;
    position: absolute;
    top: 1.5em;
    left: 10em;
    z-index: -10;
}

#rules {
    font-size: 3em;
    position: absolute;
    top: .7em;
    margin-left: 10px;
}

#regu {
    font-size: 3em;
    position: absolute;
    top: 1.6em;
}

#rule_list {
    margin-bottom: 2em;
    font-size: 2.5em;
    list-style-type: square;
    padding: 5px 5vw 5px 5vw;
    position: relative;
}

.unicode {
    color: rgba(255, 0, 0, 0.842);
    position: relative;
    top: -.1em;
}

li {
    margin-top: 3vh;
}

#bottom_logo {
    /* height: 100vh; */
    width: 50vw;
    position: relative;
    top: 30px;
}


#bottom_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 110vh;
}

#social {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: hidden;
    position: relative;
    top: -20px;
}

#social_logo {
    position: relative;
    top: -40px;
    left: -250px;
    width: 200px;
}

.social_a {
    margin: 2vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

i {
    margin: 5px;
    size: 2em;
    position: relative;
    top: .39em;
}

#bottom {
    background-image: url(assets/Pals_coderatri2.0/elements/wave-particles_bottom.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#bottom_wave {
    position: absolute;
    top: 180vh;
    width: 100vw;
    z-index: -10;
}

#last_page {    
    width: 100vw;
}

/*----------------------------*/
#top{
    display: flex;
  flex-direction: column;
  align-items:center;
}
/*upper wave----------------------------*/
div[id="upperwave"] img{
    width: 100vw;
}
#upperwave{
    position: absolute;
}
/*------------------------------------*/

/*coderatri 2.0------------------------*/
#heading{
    font-family: 'Contrail One', cursive;
    font-size: 10vw;
    z-index: 1;
}
/*----------------------------------------*/


/*button-----------------------------*/
button{
    position: relative;
    z-index: 1;
    margin: 20px;
    height: 14vh;
    width: 44vh;
    border-radius:7px;
    background: rgb(157,154,112);
    background: linear-gradient(4deg, rgba(157,154,112,1) 0%, rgba(247,245,208,1) 51%);
    /* background: rgb(186,181,165);
    background: -moz-linear-gradient(-30deg,  rgba(186,181,165,1) 0%, rgba(252,250,222,1) 48%, rgba(252,250,222,1) 78%, rgba(252,250,222,1) 100%);
    background: -webkit-linear-gradient(-30deg,  rgba(186,181,165,1) 0%,rgba(252,250,222,1) 48%,rgba(252,250,222,1) 78%,rgba(252,250,222,1) 100%);
    background: linear-gradient(150deg,  rgba(186,181,165,1) 0%,rgba(252,250,222,1) 48%,rgba(252,250,222,1) 78%,rgba(252,250,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bab5a5', endColorstr='#fcfade',GradientType=1 ); */
    cursor: pointer;
}
button:active{
    /* background: rgb(252,250,222);
background: -moz-linear-gradient(-30deg,  rgba(252,250,222,1) 0%, rgba(252,250,222,1) 22%, rgba(252,250,222,1) 52%, rgba(186,181,165,1) 100%);
background: -webkit-linear-gradient(-30deg,  rgba(252,250,222,1) 0%,rgba(252,250,222,1) 22%,rgba(252,250,222,1) 52%,rgba(186,181,165,1) 100%);
background: linear-gradient(150deg,  rgba(252,250,222,1) 0%,rgba(252,250,222,1) 22%,rgba(252,250,222,1) 52%,rgba(186,181,165,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfade', endColorstr='#bab5a5',GradientType=1 ); */
background: rgb(157,154,112);
background: linear-gradient(184deg, rgba(157,154,112,1) 0%, rgba(247,245,208,1) 51%);
}
button span{
    font-size: 7vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*----------------------------------------*/

/*timer-----------------------------------*/
#timer{
    margin: 150px;
    z-index: 1;
}
div[id="timer"] {
    background-color: rgb(37, 38, 39);
    border: dotted;
    border-color: white;
    min-height: 10vh;
    height: 13vh;
    min-width: 50vh;
}
div[id="timer"] li {
    display: inline-block;
    font-size: 1.5vw;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0px;
  }
  
  div[id="timer"] li span {
    display: block;
  }
  .counting{
    /* margin-bottom: 2em; */

}
.time_unit{
    font-size: 1.5vh;
    color: rgb(255, 94, 0);
}
.numbers{
    /* padding-right: 2vh;
    padding-left: 3vh; */
    font-size: 8vh;
    font-family: 'Contrail One', cursive;
}
  /*---------------------------------------------*/

/*mid images------------------*/
#mid_top{
    position: relative;
    display: grid;
}
.image1{
    position: relative;
    width: 100%;
    top: 150px;
    z-index: 1;
}
.image2{
    z-index: 2;
    position: relative;
    right:-50%;
    width: 50%;
    top: -240%;

}
.image3{
    position: relative;
    width: 50%;
    z-index: 3;
    top:-290%;
    right:-50%;
}
.image4{
    position:relative;
    width: 30%;
    z-index: 3;
    top:-245%;
}
/*---------------------------*/

@media (max-width: 1000px)
{

    #social {
        font-size: 30px;
    }

    #rulreg {
        left: 10em;
    }

    #rule_head {
        width: 69%;
        font-size: 20px;
    }

    #rule_list {
        font-size: 1.5em;
    }

    #social_logo {
        /* display: none; */
        left: 0px;
    }

    #bottom_logo {
        width: 80vw;
        top: 0;
    }
}

@media (max-width: 500px)
{

    #social {
        font-size: 20px;
        display: grid;
        grid-template-columns: auto auto;
        text-align: justify;
    }
    
    #rule_head {
        font-size: 14px;
    }

    #rule_list {
        font-size: 1em;
    }

    #bottom_logo {
        width: 110vw;
    }

    #social_logo {
        /* display: none; */
        width: 30vw;
        left: 0px;
    }

    #rule_list li{
        text-align: justify;
    }

}
@media (max-width: 768px)
{
    .image1{
        top: 40px;   
    }
}
@media (max-width: 700px)
{
    button{
    height: 8vh;
    width: 35vh;   
    }
    button span{
        font-size: 5vh
    }
    
}
@media (max-width: 370px)
{
    div[id="upperwave"] img{
        width: 150%;
    }
}
