* {
    overflow-x: hidden;
}

body {
    background-color: rgb(37, 38, 39);
}

section {
    z-index: -10;
    color: rgb(236, 226, 208);

    /* Temp */
    border: 2px solid beige;
}

h1 {
    position: relative;
    padding-left: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#R {
    font-size: 8em;
}

#rules {
    font-size: 3em;
    position: absolute;
    top: .8em;
    margin-left: 10px;
}

#regu {
    font-size: 3em;
    position: absolute;
    top: 1.6em;
}

ul {
    margin-bottom: 2em;
    font-size: 2.5em;
    list-style-type: square;
    padding: 5px 5vw 5px 5vw;
    position: relative;
}

.unicode {
    color: rgba(255, 0, 0, 0.842);
    position: relative;
    top: -.1em;
}

li {
    margin-top: 3vh;
}
/*----------------------------*/
#top{
    display: flex;
  flex-direction: column;
  align-items:center
}
#heading{
    font-size: 3vw;
}
button{
    height: 3vw;
    width: 12vw;
    border-radius:7px;
    background: rgb(186,181,165);
background: -moz-linear-gradient(-30deg,  rgba(186,181,165,1) 0%, rgba(252,250,222,1) 48%, rgba(252,250,222,1) 78%, rgba(252,250,222,1) 100%);
background: -webkit-linear-gradient(-30deg,  rgba(186,181,165,1) 0%,rgba(252,250,222,1) 48%,rgba(252,250,222,1) 78%,rgba(252,250,222,1) 100%);
background: linear-gradient(150deg,  rgba(186,181,165,1) 0%,rgba(252,250,222,1) 48%,rgba(252,250,222,1) 78%,rgba(252,250,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bab5a5', endColorstr='#fcfade',GradientType=1 );
}
button:active{
    background: rgb(252,250,222);
background: -moz-linear-gradient(-30deg,  rgba(252,250,222,1) 0%, rgba(252,250,222,1) 22%, rgba(252,250,222,1) 52%, rgba(186,181,165,1) 100%);
background: -webkit-linear-gradient(-30deg,  rgba(252,250,222,1) 0%,rgba(252,250,222,1) 22%,rgba(252,250,222,1) 52%,rgba(186,181,165,1) 100%);
background: linear-gradient(150deg,  rgba(252,250,222,1) 0%,rgba(252,250,222,1) 22%,rgba(252,250,222,1) 52%,rgba(186,181,165,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfade', endColorstr='#bab5a5',GradientType=1 );
}

@media (max-width: 768px)
{

}
